@model IEnumerable<Owner>

    <h2>Owner List</h2>
    <hr>
    <a href="/Owner/Create" class="btn btn-danger" style="background-color: #950014;border: #950014;">Add Owner</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px;">@Html.DisplayNameFor(m =>m.OwnerId)</th>
                <th style="width: 10px;">Name</th>
                <th style="width: 10px;">@Html.DisplayNameFor(m =>m.Email)</th>
                <th style="width: 10px;">Sold Date</th>
                <th style="width: 95px;">Car Name</th>
                <th style="width: 10px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr style="vertical-align: middle">
                    <td style="text-align: center;">@Html.DisplayFor(modelItem =>item.OwnerId)</td> 
                    <td>@Html.DisplayFor(modelItem =>item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem =>item.Email)</td>
                    <td>@Html.DisplayFor(modelItem =>item.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem =>item.Car.FullName)</td>
                    <td >
                        <a asp-controller="Owner" asp-action="Edit" asp-route-id="@item.OwnerId" class="btn btn-sm btn-danger" style="background-color: #950014;border: #950014;">Edit</a>
                        <a asp-controller="Owner" asp-action="Delete" asp-route-id="@item.OwnerId" class="btn btn-sm btn-outline-dark">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>